discord.py
google-genai

anyio
nest-asyncio

beautifulsoup4
wolframalpha
wikipedia-api
ddgs

httpx
validators
xmltodict
requests
protobuf

pytest
pytest-asyncio
pytest-mock
pytest-cov

discord-ext-voice-recv
samplerate
audioop-lts
pynacl

matplotlib
numpy
regex
docker
tqdm