discord.py==2.4.0
google-genai
pytubefix
beautifulsoup4
python-weather
wolframalpha
nest_asyncio
wikipedia
protobuf
nest-asyncio
httpx
xmltodict
requests
duckduckgo-search
matplotlib
numpy
librosa
discord-ext-voice-recv
